<footer id="footer">
    <!-- 引入不蒜子插件 -->
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <!--<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>-->
    <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
    <% } %>
    <div class="outer">
        <div id="footer-info" class="inner">
            <p>
                <span class="pv" id="busuanzi_container_site_uv">您是第<span id="busuanzi_value_site_uv"></span>位访客</span>— ♀ —
                <span class="pv" id="busuanzi_container_site_pv">总访问量共<span id="busuanzi_value_site_pv"></span>次</span>
            </p>
            <p>
                &copy; <%= date(new Date(), 'YYYY') %>— ♀ —<a href="http://zmnaer.com"><%= config.author || config.title %></a>
                由 <a href="http://hexo.io/" target="_blank"> Hexo </a> <%= __('powered_by') %>
            </p>
        </div>
    </div>
</footer>