<footer id="footer">
    <!-- 引入不蒜子插件 -->
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <!--<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>-->
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %>——<%= config.author || config.title %><br>
      由 <a href="http://hexo.io/" target="_blank"> Hexo </a> <%= __('powered_by') %>
    </div>
  </div>
</footer>