<% if (site.data.links){ %>
<h3 class="widget-title">友情链接</h3>
<div class="widget tag">
  <ul class="entry">
    <% for (var i in site.data.links){ %>
    <li class='link'><a href='<%- site.data.links[i] %>'><%= i %></a></li>
    <% } %>
  </ul>
</div>
<% } %>